body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

hi {
    font-size; 15rem;
    font-family: Montserrat;
}

.letter {
    transition: color 1000ms;
}